@import url('https: //fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #444;
	text-align: center;
	background-color: #f7f7f7;
	overflow: auto;
}

img {
	max-width: 100%;
}

#callout {
	width: 100%;
	background-color: #444;
	height: auto;
	overflow: hidden;
}

#callout p {
	text-align: right;
	color: #fff;
	font-size: 14px;
	padding-right: 5%;
}

#callout p a {
	color: #fff;
	text-decoration: none;
}

header {
}

nav ul {
	list-style: none;
	margin: 0;
	padding-left: 50px;
}

nav ul li {
	float: left;
	width: 15%;
	border: 1px solid #444;
}

nav ul li a {
	font-weight: 700;
	text-decoration: none;
	color: #444;
	display: block;
	padding: 5% 12%;
}

nav ul li a:hover, nav ui li.active a {
	background-color: #444;
	color:  #aad400;
}

.banner {
	padding-bottom: 2%;
}

.left-col {
	width:  55%;
	float: left;
	padding-bottom: 1%;
}

.sidebar {
	width: 40%;
	float: right;
	padding: 1%;
}

.one-third {
	width: 29%;
	float: left;
	padding: 2%;
}

.clearfix {
	clear: both;
}

footer {
	background: #444;
	width: 100%;
	padding: 6% 0 10%;
}

.social {
	font-size: 400%;
}

.social a {
	color: #fff;
}

.social a:hover {
	color: #d5d5d5;
}
@media (max-width: 768px) {

	nav ul {
		padding-left: 0;
	}

	nav ul li {
		width:  100%;
		border-left: 0;
		border-right: 0;
	}

	nav ul li a {
		padding:  8px 0;
		font-size: 16px;
	}

	.left-col, .sidebar, .one-third {
		width: 100%;
		padding: 0;
	}

	.social {
		font-size:  200%;
	}

	p {
		font-size: 15px;
	}
}
















